<footer class="bg-dark text-white py-4 mb-0 mt-5">
  <div class="container text-center">
    <p>&copy; 2023 - Limber Martinez Jr Developer</p>
    <!--
    <p>
      <a href="#" class="text-white" translate="footer.terms"></a>
      |
      <a href="#" class="text-white" translate="footer.privacy"></a>
    </p>-->
    <!-- Social media icons -->
    <a
      href="https://www.linkedin.com/in/limber-martinez-developer/"
      target="_blank"
      rel="noopener"
      class="text-white mx-2"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <a
      href="https://github.com/limbpuma/BookingAppFrontend"
      target="_blank"
      rel="noopener"
      class="text-white mx-2"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</footer>
