<footer class="bg-dark text-white py-4 mb-0">
  <div class="container text-center">
    <p>&copy; 2023 Mi Proyecto Angular</p>
    <p>
      <a href="#" class="text-white">Términos y condiciones</a> |
      <a href="#" class="text-white">Política de privacidad</a>
    </p>
    <!-- Iconos de redes sociales -->
    <a
      href="https://github.com/tu-usuario"
      target="_blank"
      rel="noopener"
      class="text-white mx-2"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>

    <a
      href="https://github.com/tu-usuario"
      target="_blank"
      rel="noopener"
      class="text-white mx-2"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
</footer>
