<div class="container my-5">
  <div class="container text-center" style="margin: 30px">
    <h3>Agregar Nueva Reserva</h3>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nameClient" class="form-label">Nombre del Cliente</label>
      <input
        type="text"
        class="form-control"
        id="nameClient"
        name="nameClient"
        [(ngModel)]="booking.nameClient"
        required
      />
    </div>
    <div class="mb-3">
      <label for="dateTime" class="form-label">Fecha y Hora</label>
      <input
        type="datetime-local"
        class="form-control"
        id="dateTime"
        name="dateTime"
        [(ngModel)]="booking.dateTime"
        required
      />
    </div>
    <div class="mb-3">
      <label for="numberOfPeople" class="form-label">Número de Personas</label>
      <input
        type="number"
        class="form-control"
        id="numberOfPeople"
        name="numberOfPeople"
        [(ngModel)]="booking.numberOfPeople"
        required
      />
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Teléfono</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        [(ngModel)]="booking.phoneNumber"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="booking.email"
        required
      />
    </div>
    <!-- Mensaje de error general -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success btn-sm me-3">
        Guardar Reserva
      </button>
      <a [routerLink]="['/booking-list']" class="btn btn-danger btn-sm"
        >Cancelar</a
      >
    </div>
  </form>
</div>
