<div class="container my-5">
  <div class="text-center" style="margin: 30px">
    <h3 translate="bookingList.title"></h3>
  </div>
  <div class="alert alert-info" translate="bookingList.info"></div>
  <div class="table-responsive">
    <table class="container table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col" translate="bookingList.tableHeaders.id"></th>
          <th scope="col" translate="bookingList.tableHeaders.clientName"></th>
          <th scope="col" translate="bookingList.tableHeaders.dateTime"></th>
          <th
            scope="col"
            translate="bookingList.tableHeaders.numberOfPeople"
          ></th>
          <th scope="col" translate="bookingList.tableHeaders.phoneNumber"></th>
          <th scope="col" translate="bookingList.tableHeaders.email"></th>
          <th scope="col" translate="bookingList.tableHeaders.active"></th>
          <th scope="col" translate="bookingList.tableHeaders.actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <th scope="row">{{ booking.idBooking }}</th>
          <td>{{ booking.nameClient }}</td>
          <td>{{ booking.dateTime | date : "medium" }}</td>
          <td>{{ booking.numberOfPeople }}</td>
          <td>{{ booking.phoneNumber }}</td>
          <td>{{ booking.email }}</td>
          <td>{{ booking.active ? "Sí" : "No" }}</td>
          <td class="text-center">
            <div>
              <button
                (click)="editBooking(booking.idBooking)"
                class="btn btn-warning btn-sm me-3 my-1"
                translate="bookingList.buttons.edit"
              ></button>
              <button
                (click)="deactivateBooking(booking.idBooking)"
                class="btn btn-danger btn-sm my-1"
                translate="bookingList.buttons.delete"
              ></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
